.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
node_modules
package-lock.json
src/main/resources/static/built
out
documents
config/jmxremote.password
config/jmxremote.access

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
