spring:
  messages:
    basename: messages/messages

  freemarker:
    settings.tag_syntax: square_bracket

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:epyfnm}

  jpa:
    hibernate.ddl-auto: validate
    generate-ddl: true
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  data.rest.base-path: /api

server.session.timeout: 18000 # 5 hours

logging.level.org.springframework.web: INFO
logging.level.org.springframework.security: ERROR
logging.level.org.hibernate.SQL: ERROR
logging.level.org.hibernate.type.descriptor.sql.BasicBinder: ERROR

---

spring:
  profiles: default
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/lunchtime}

---

spring:
  profiles: test
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/lunchtime_test}
