.users-menu-sheet-table {
  padding: 1rem;

  &-statistics {
    .row {
      height: 40px;
    }
  }

  .row>.col, .row>[class^=col-] {
    border: 1px solid #D3D3D3;
    padding: 0px;

    .row {
      margin: 0;
      color: #000;

      .col {
        border: none;
        background-color: #f8f9fa;

        &:not(:last-child) {
          border-right: 1px solid #D3D3D3;
        }
      }
    }
  }

  .row:first-child {
    color: #fff;
    background-color: #212529;
    border-color: #32383E;
    text-align: center;
  }

  .row:not(:first-child):hover {
    background-color: #DCDCDC;
  }
}

.text-align-left {
  text-align: left;
}
